yfinance[nospam,repair]
rauth
dagster
dagster-webserver
dagster-graphql
dagster-gcp
dagster-gcp-pandas
pygsheets
# google-cloud-bigquery # dependency is already installed
# openpyxl # (needed for opening excel files. only in a notebook currently)